<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>trevor</title>
  </head>
  <body>
    <h1>Create puppies</h1>
    <form action="/puppies" method="get">
      <label for="name">name</label>
      <input type="text" name = "name">
      <label for="age">Age</label>
      <input type="text" name = "age">
      <!-- <label for=""></label>
      <input type="text"> -->
      <input type="submit" value="submit">
    </form>
  </body>
</html>
